#cabecera{
    width: 100%;
    height: 300px;
    background-color: red;
    animation: discoteca 4s ease-in-out infinite;
}

h1{
    animation: mover 6s ease-in-out infinite;
}

@keyframes cambiarColor {
    from{
        background-color: green;
    }
    to{
        background-color: blue;
    }
}

@keyframes discoteca {
    0%{
        background-color: green;
    }
    20%{
        background-color: red;
    }
    40%{
        background-color: rgb(35, 147, 252);
    }
    60%{
        background-color: chocolate;
    }
    80%{
        background-color: mediumpurple;
    }
    100%{
        background-color: chartreuse;
    }
}

@keyframes mover {
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateX(40%) translateY(120px);
    }
    40%{
        transform: translateX(90%) translateY(20px);
    }
    60%{
        transform: translateX(90%) translateY(220px);
    }
    80%{
        transform: translateX(40%) translateY(120px);
    }
    100%{
        transform: translateX(0%) translateY(220px);
    }
    /* 120%{
        transform: translateY(0px);
    } */
}